# üìò Wprowadzenie: od prostych plik√≥w do system√≥w zarzƒÖdzania bazami danych

Zanim zaczniemy korzystaƒá z profesjonalnych system√≥w zarzƒÖdzania bazami danych (DBMS), warto zrozumieƒá, dlaczego sƒÖ one potrzebne.
Na poczƒÖtku dane czƒôsto przechowuje siƒô w plikach tekstowych, np. CSV (Comma Separated Values). Pliki te mo≈ºna ≈Çatwo tworzyƒá i edytowaƒá, np. w Excelu, LibreOffice czy nawet w Notatniku.

Jednak takie ‚Äûproste bazy plikowe‚Äù majƒÖ swoje ograniczenia:

- brak kontroli poprawno≈õci danych (np. brak numeru domu, kodu pocztowego lub miejscowo≈õci),
- trudno≈õƒá w wyszukiwaniu i filtrowaniu danych,
- brak powiƒÖza≈Ñ miƒôdzy danymi (relacji),
- ryzyko duplikacji i b≈Çƒôd√≥w,
- problemy przy r√≥wnoczesnym dostƒôpie wielu u≈ºytkownik√≥w.

Relacyjne systemy baz danych, takie jak PostgreSQL czy SQLite, rozwiƒÖzujƒÖ te problemy.
Dane sƒÖ tam przechowywane w tabelach o jasno okre≈õlonej strukturze (kolumny, typy danych), a system dba o integralno≈õƒá i sp√≥jno≈õƒá informacji.
Zanim jednak przejdziemy do PostgreSQL, przyjrzyjmy siƒô, jak wyglƒÖda ‚Äûprosta baza plikowa‚Äù i jak mo≈ºna jƒÖ przekszta≈Çciƒá w prawdziwƒÖ bazƒô danych.

## SQLite 

Jak wspomniano na wyk≈Çadzie, dane mo≈ºna gromadziƒá w r√≥≈ºnego
rodzaju bazach danych. 
Czƒôsto jednak potrzebne jest nam szybkie i ≈Çatwe rozwiƒÖzanie, bez konieczno≈õci mozolnego budowania architektury klient-serwer. 
Chcemy bowiem przechowywaƒá dane w prostym pliku i edytowaƒá je r√≥wnie ≈Çatwo jak
w przypadku dokumentu tekstowego, takiego jak w programie Word. 
W takich przypadkach najbardziej optymalne jest u≈ºycie w≈Ça≈õnie SQLite.
SQLite jest najczƒô≈õciej wykorzystywanym na ≈õwiecie systemem zarzƒÖdzania bazƒÖ
danych. 
Zosta≈Ç zastosowany w iPhonach, iPadach, w urzƒÖdzeniach z systemem operacyjnym Android i Windows Mobile. Znajdziesz go r√≥wnie≈º w termostatach, a tak≈ºe w samochodowych systemach komputerowych. 
Jest te≈º wykorzystywany w satelitach i w wielu innych nowoczesnych urzƒÖdzeniach, w przypadku kt√≥rych
konieczne jest przechowywanie danych i proste ich przeszukiwanie. 
Z SQLite korzysta w du≈ºym stopniu zar√≥wno system operacyjny Windows, jak i system
samolotu Airbus A350 XWB. 
Jest on wiƒôc stosowany wszƒôdzie tam, gdzie istotna jest ≈Çatwo≈õƒá korzystania z niego oraz niskie koszty sta≈Çe. Jest r√≥wnie≈º doskona≈Çy do przygotowywania prototyp√≥w baz danych dla przedsiƒôbiorstw.
Jednak co≈õ za co≈õ ‚Äî z uwagi na brak serwera zarzƒÖdzajƒÖcego dostƒôpem do bazy
danych SQLite nie mo≈ºe byƒá jednocze≈õnie wykorzystywany przez wielu u≈ºytkownik√≥w. 
Nie jest bowiem mo≈ºliwe edytowanie tego samego pliku przez wiele os√≥b w tym samym czasie. 
Ten system zarzƒÖdzania bazƒÖ danych nadaje siƒô natomiast ≈õwietnie do cel√≥w szkoleniowych.

[sqlite studio](https://sqlitestudio.pl/?act=download)

In [ ]:
import sqlite3
import csv

# Po≈ÇƒÖczenie z bazƒÖ (plik .db zostanie utworzony, je≈õli nie istnieje)
conn = sqlite3.connect("klienci.db")
cur = conn.cursor()

# Utworzenie tabeli
cur.execute("""
CREATE TABLE IF NOT EXISTS klienci (
    dane_osobowe TEXT,
    adres TEXT,
    produkty INTEGER
);
""")

# Wczytanie danych z pliku CSV
with open("klienci_produkty_v2.csv", newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        cur.execute("""
            INSERT INTO klienci (dane_osobowe, adres, produkty)
            VALUES (?, ?, ?)
        """, (row['dane_osobowe'], row['adres'], row['produkty']))

# Zapisanie zmian i zamkniƒôcie po≈ÇƒÖczenia
conn.commit()
conn.close()

print("Dane zosta≈Çy zaimportowane do bazy danych klienci.db")

Dane zosta≈Çy zaimportowane do bazy danych klienci.db

In [ ]:
import sqlite3
import pandas as pd


db_file = "klienci.db"

# Po≈ÇƒÖczenie z bazƒÖ SQLite (plik zostanie utworzony je≈õli nie istnieje)
conn = sqlite3.connect(db_file)
cur = conn.cursor()

# Pobranie 10 pierwszych rekord√≥w do DataFrame
df = pd.read_sql_query("SELECT * FROM klienci LIMIT 10;", conn)

# Wy≈õwietlenie DataFrame
df

,id,dane_osobowe,adres,produkty
0,1,Katarzyna Wi≈õniewski,"ul. Lipowa 1,","S≈Çuchawki, Router, Drukarka, Telefon"
1,2,Anna Grabowska,"ul. Mickiewicza ,","Telefon, Laptop, Kamera internetowa, S≈Çuchawki"
2,3,Marek Czerwi≈Ñska,"ul. S≈Çoneczna ,",Router
3,4,Piotr Kr√≥l,"ul. Szkolna 27,","Monitor, Tablet, Klawiatura"
4,5,Marek Kowalski,"ul. Polna ,",Monitor
5,6,Micha≈Ç W√≥jcik,"ul. Spacerowa 30,","Mysz, Monitor"
6,7,Anna Baran,"ul. Lipowa , 30-400",Mysz
7,8,Adam Kowalski,"ul. Mickiewicza , 60-100","Monitor, Drukarka"
8,9,Marek Czerwi≈Ñska,"ul. Lipowa , 35-100 Pozna≈Ñ","Laptop, S≈Çuchawki, Router"
9,10,Pawe≈Ç Pawlak,"ul. Spacerowa ,","Mysz, Kamera internetowa, Laptop"

In [17]:
# Zamkniƒôcie po≈ÇƒÖczenia
conn.close()

<img src="../img/intro.png">

1. Nowa baza "wyklikana"
2. Nowa baza z pliku 
3. Prosty kod sql 
4. Za≈Çadowanie tabel i danych z kodu pliku sql

## DDL w SQLite


###  1. Tworzenie tabeli klienci

- Tworzymy tabelƒô, je≈õli jeszcze nie istnieje


```sql

CREATE TABLE IF NOT EXISTS klienci (
    dane_osobowe TEXT,    -- pole z imieniem i nazwiskiem
    adres TEXT,           -- pole z pe≈Çnym adresem
    produkty TEXT         -- pole z produktami, w wersji nienormalizowanej (lista w jednej kom√≥rce)
);
```

-  INSERT przyk≈Çadowego rekordu do demonstracji dzia≈Çania
  
```sql
INSERT INTO klienci (dane_osobowe, adres, produkty)
VALUES ('Jan Kowalski', 'ul. Lipowa 12, 00-001 Warszawa', 'Laptop, Telefon');
```

- Sprawdzenie zawarto≈õci tabeli
SELECT * FROM klienci;



### 2. Dodanie kolumny z kluczem g≈Ç√≥wnym

-- Dodajemy kolumnƒô "id" jako PRIMARY KEY

```sql
ALTER TABLE klienci ADD COLUMN id INTEGER PRIMARY KEY AUTOINCREMENT;
```

- Pokazujemy efekt dodania kolumny

```sql
PRAGMA table_info(klienci);
```


### 3. Dodanie dodatkowej kolumny

- Dodajemy kolumnƒô "typ" (np. kategoria klienta: standard/premium)
```sql
ALTER TABLE klienci ADD COLUMN typ TEXT;
```

- Wstawiamy przyk≈Çadowe warto≈õci dla nowych rekord√≥w

```sql
UPDATE klienci SET typ = 'standard' WHERE id = 1;
```

- Sprawdzamy aktualnƒÖ tabelƒô
  
```sql
SELECT * FROM klienci;
```


### 4. Tworzenie indeksu

```sql
CREATE INDEX idx_klienci_nazwisko ON klienci(dane_osobowe);
```


### 5. Usuwanie kolumny (ograniczenia SQLite)

- Uwaga! - SQLite nie pozwala bezpo≈õrednio usunƒÖƒá kolumny
  
```sql
-- 1. Tworzymy nowƒÖ tabelƒô bez kolumny "typ"
CREATE TABLE klienci_nowa AS
SELECT id, dane_osobowe, adres, produkty
FROM klienci;

-- 2. Usuwamy starƒÖ tabelƒô
DROP TABLE klienci;

-- 3. Zmieniamy nazwƒô nowej tabeli na starƒÖ
ALTER TABLE klienci_nowa RENAME TO klienci;

-- Sprawdzamy strukturƒô tabeli po usuniƒôciu kolumny
PRAGMA table_info(klienci);
```


### 6. Zmiana nazwy tabeli

```sql
ALTER TABLE klienci RENAME TO klienci_stara;

```

### 7. Usuniƒôcie tabeli

```sql
DROP TABLE IF EXISTS klienci;
```

Problemy nienormalizowanej tabeli:

- Kolumna produkty zawiera wiele warto≈õci (1‚Äì4 produkty w jednej kom√≥rce).
- Kolumna adres mo≈ºe byƒá duplikowana, je≈õli wielu klient√≥w mieszka pod tym samym adresem.
- Trudno wykonywaƒá analizy typu ‚Äûkt√≥rzy klienci kupili ten sam produkt‚Äù.
- Ryzyko powielania danych i b≈Çƒôd√≥w aktualizacji.

## Pierwsza Postaƒá Normalna (1NF) ‚Äì analiza tabeli klienci

Problemy tabeli:

1.	Kolumna produkty zawiera wiele warto≈õci ‚Üí brak atomowo≈õci.
2.	Brak klucza g≈Ç√≥wnego.
3.	Trudno wyszukiwaƒá klient√≥w po produktach lub adresach.
4.	Imiƒô i nazwisko, adres sƒÖ w jednej kolumnie.

### Krok 0: Dodanie klucza g≈Ç√≥wnego

```sql
ALTER TABLE klienci ADD COLUMN id INTEGER PRIMARY KEY AUTOINCREMENT;
```

- Ka≈ºdy rekord ma teraz unikalny identyfikator id.
- Mo≈ºna bezpiecznie rozdzielaƒá produkty w kolejnych krokach.


### Krok 1 ‚Äì Pierwsza Postaƒá Normalna (1NF)

Cel: rozdzielamy wielowarto≈õciowe kolumny (produkty) na osobne wiersze.

Tabela 1NF ‚Äì przyk≈Çadowe rekordy:

```sql
CREATE TABLE klienci_1nf (
    klient_id INTEGER,
    dane_osobowe TEXT,
    adres TEXT,
    produkt TEXT
);

-- Wstawienie przyk≈Çadowych danych
INSERT INTO klienci_1nf (klient_id, dane_osobowe, adres, produkt) VALUES
(1, 'Jan Kowalski', 'ul. Lipowa 12, 00-001 Warszawa', 'Laptop'),
(1, 'Jan Kowalski', 'ul. Lipowa 12, 00-001 Warszawa', 'Telefon'),
(2, 'Anna Nowak', 'ul. D≈Çuga 7, Krak√≥w', 'Monitor'),
(3, 'Piotr Wi≈õniewski', 'ul. Parkowa 3, ≈Å√≥d≈∫', 'Tablet'),
(3, 'Piotr Wi≈õniewski', 'ul. Parkowa 3, ≈Å√≥d≈∫', 'Mysz'),
(3, 'Piotr Wi≈õniewski', 'ul. Parkowa 3, ≈Å√≥d≈∫', 'Klawiatura');
```
Efekt dydaktyczny:

- Ka≈ºdy wiersz zawiera jednƒÖ warto≈õƒá produktu.
- Mo≈ºemy wyszukiwaƒá klient√≥w po produkcie:

```sql
SELECT dane_osobowe, adres FROM klienci_1nf WHERE produkt='Laptop';
```

### Krok 2 ‚Äì Druga Postaƒá Normalna (2NF)

Cel: usuwamy redundancjƒô zale≈ºno≈õci czƒô≈õciowych 

‚Äì dane, kt√≥re zale≈ºƒÖ tylko od klienta (adres, imiƒô/nazwisko), przenosimy do osobnej tabeli klienci.

```sql
CREATE TABLE klienci_2nf (
    klient_id INTEGER PRIMARY KEY,
    dane_osobowe TEXT,
    adres TEXT
);

CREATE TABLE zakupy (
    klient_id INTEGER,
    produkt TEXT,
    FOREIGN KEY (klient_id) REFERENCES klienci_2nf(klient_id)
);

-- Wstawienie przyk≈Çadowych danych
INSERT INTO klienci_2nf (klient_id, dane_osobowe, adres) VALUES
(1, 'Jan Kowalski', 'ul. Lipowa 12, 00-001 Warszawa'),
(2, 'Anna Nowak', 'ul. D≈Çuga 7, Krak√≥w'),
(3, 'Piotr Wi≈õniewski', 'ul. Parkowa 3, ≈Å√≥d≈∫');

INSERT INTO zakupy (klient_id, produkt) VALUES
(1, 'Laptop'),
(1, 'Telefon'),
(2, 'Monitor'),
(3, 'Tablet'),
(3, 'Mysz'),
(3, 'Klawiatura');
```

Efekt:

- Klient pojawia siƒô tylko raz w tabeli klienci.
- Tabela zakupy przechowuje produkty, a klient_id ≈ÇƒÖczy je z klientem.
- Redukcja redundancji i ≈Çatwiejsze zarzƒÖdzanie danymi.


### Krok 3 ‚Äì Trzecia Postaƒá Normalna (3NF)

Cel: pe≈Çna atomizacja danych ‚Äì dzielimy adres na ulicƒô, numer, kod, miasto.

In [18]:
import sqlite3
import pandas as pd

# Wczytanie CSV
df = pd.read_csv('klienci_produkty_v2.csv')  # kolumny: dane_osobowe, adres, produkty

# Utworzenie po≈ÇƒÖczenia z bazƒÖ SQLite
conn = sqlite3.connect('klienci_normalizacja.db')
cur = conn.cursor()

# ===================================================
# 1. Tworzymy tabele w 3NF
# ===================================================
cur.execute('''
CREATE TABLE IF NOT EXISTS adresy (
    adres_id INTEGER PRIMARY KEY AUTOINCREMENT,
    ulica TEXT,
    numer TEXT,
    kod TEXT,
    miasto TEXT
)
''')

cur.execute('''
CREATE TABLE IF NOT EXISTS klienci (
    klient_id INTEGER PRIMARY KEY AUTOINCREMENT,
    dane_osobowe TEXT,
    adres_id INTEGER,
    FOREIGN KEY (adres_id) REFERENCES adresy(adres_id)
)
''')

cur.execute('''
CREATE TABLE IF NOT EXISTS zakupy (
    klient_id INTEGER,
    produkt TEXT,
    FOREIGN KEY (klient_id) REFERENCES klienci(klient_id)
)
''')

conn.commit()

# ===================================================
# 2. Wype≈Çnienie tabel
# ===================================================

# Pomocnicza funkcja do rozdzielania adresu
def rozdziel_adres(adres):
    try:
        # zak≈Çadamy format: "ul. Lipowa 12, 00-001 Warszawa"
        czesci = adres.split(',')
        ulica_numer = czesci[0].strip().rsplit(' ', 1)
        ulica = ulica_numer[0]
        numer = ulica_numer[1] if len(ulica_numer) > 1 else ''
        kod_miasto = czesci[1].strip().split(' ', 1) if len(czesci) > 1 else ['', '']
        kod = kod_miasto[0]
        miasto = kod_miasto[1] if len(kod_miasto) > 1 else ''
        return ulica, numer, kod, miasto
    except:
        return '', '', '', ''

# Dodanie adres√≥w i przypisanie adres_id
adres_map = {}  # mapowanie pe≈Çnego adresu na adres_id
for index, row in df.iterrows():
    adres = row['adres']
    if adres not in adres_map:
        ulica, numer, kod, miasto = rozdziel_adres(adres)
        cur.execute('''
            INSERT INTO adresy (ulica, numer, kod, miasto)
            VALUES (?, ?, ?, ?)
        ''', (ulica, numer, kod, miasto))
        adres_id = cur.lastrowid
        adres_map[adres] = adres_id

    # Dodanie klienta
    cur.execute('''
        INSERT INTO klienci (dane_osobowe, adres_id)
        VALUES (?, ?)
    ''', (row['dane_osobowe'], adres_map[adres]))
    klient_id = cur.lastrowid

    # Rozdzielenie produkt√≥w i dodanie do zakupy
    produkty = [p.strip() for p in str(row['produkty']).split(',')]
    for produkt in produkty:
        if produkt:  # pomijamy puste
            cur.execute('''
                INSERT INTO zakupy (klient_id, produkt)
                VALUES (?, ?)
            ''', (klient_id, produkt))

conn.commit()
conn.close()

print("Import i normalizacja zako≈Ñczone!")

Import i normalizacja zako≈Ñczone!

Opis dzia≈Çania:

1.	Adresy sƒÖ rozdzielane na ulica, numer, kod, miasto ‚Üí tabela adresy.
2.	Klienci trafiajƒÖ do tabeli klienci z adres_id.
3.	Produkty sƒÖ rozdzielane i dodawane do tabeli zakupy.
4.	Ka≈ºdy klient ma unikalny klient_id, wiƒôc je≈õli kupi≈Ç kilka produkt√≥w, w zakupy bƒôdzie kilka wierszy.

In [21]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('klienci_normalizacja.db')

# Wy≈õwietlenie 10 pierwszych klient√≥w
df_klienci = pd.read_sql('SELECT * FROM klienci LIMIT 10', conn)
df_klienci.head(10)

   klient_id          dane_osobowe  adres_id
0          1  Katarzyna Wi≈õniewski         1
1          2        Anna Grabowska         2
2          3      Marek Czerwi≈Ñska         3
3          4            Piotr Kr√≥l         4
4          5        Marek Kowalski         5
5          6         Micha≈Ç W√≥jcik         6
6          7            Anna Baran         7
7          8         Adam Kowalski         8
8          9      Marek Czerwi≈Ñska         9
9         10          Pawe≈Ç Pawlak        10

In [22]:
# Wy≈õwietlenie 10 pierwszych zakup√≥w
df_zakupy = pd.read_sql('SELECT * FROM zakupy LIMIT 10', conn)
df_zakupy

   klient_id             produkt
0          1           S≈Çuchawki
1          1              Router
2          1            Drukarka
3          1             Telefon
4          2             Telefon
5          2              Laptop
6          2  Kamera internetowa
7          2           S≈Çuchawki
8          3              Router
9          4             Monitor

In [23]:
conn.close()

Normalizacja tabeli klienci ‚Äì pe≈Çne podsumowanie

Tabela poczƒÖtkowa (przed normalizacjƒÖ)

- Nazwa tabeli: klienci
- Liczba kolumn: 3 (dane_osobowe, adres, produkty)
- Typy danych: wszystkie TEXT (nienormalizowane)
- Problemy:
- Brak klucza g≈Ç√≥wnego ‚Üí brak jednoznacznej identyfikacji rekordu.
- Wielowarto≈õciowa kolumna produkty ‚Üí z≈Çamanie zasad atomowo≈õci.
- Imiƒô/nazwisko i adres w jednej kolumnie ‚Üí brak pe≈Çnej atomowo≈õci.
- Trudno≈õci w analizie i wyszukiwaniu.

‚∏ª

Proces normalizacji krok po kroku

Krok 0 ‚Äì Dodanie klucza g≈Ç√≥wnego

- Kolumna id jako PRIMARY KEY.
- Ka≈ºdy rekord jednoznacznie identyfikowany.

Krok 1 ‚Äì 1NF

- Rozdzielenie wielowarto≈õciowej kolumny produkty na osobne wiersze.
- Jeden wiersz = jeden klient + jeden produkt.
- Cel: ka≈ºda kolumna jest atomowa.

Krok 2 ‚Äì 2NF

- Rozdzielenie danych, kt√≥re zale≈ºƒÖ tylko od klienta (adres, imiƒô/nazwisko), do osobnej tabeli klienci.
- Produkty przeniesione do tabeli zakupy.
- Relacja: klient_id w zakupy ‚Üí klient_id w klienci (1:N).

Krok 3 ‚Äì 3NF

- Rozdzielenie adresu na atomowe kolumny: ulica, numer, kod, miasto ‚Üí tabela adresy.
- W tabeli klienci pozostaje tylko adres_id jako klucz obcy.
- Relacje:
- klienci.adres_id ‚Üí adresy.adres_id (1:1)
- zakupy.klient_id ‚Üí klienci.klient_id (1:N)

In [25]:
import pandas as pd

# Wczytanie CSV
df = pd.read_csv('klienci_produkty_v2.csv')  # kolumny: dane_osobowe, adres, produkty

# Plik wynikowy SQL
sql_file = open('klienci_3nf.sql', 'w', encoding='utf-8')

# ===================================================
# 1. Tworzenie tabel
# ===================================================
sql_file.write("""
-- Tabele w 3NF
CREATE TABLE IF NOT EXISTS adresy (
    adres_id INTEGER PRIMARY KEY AUTOINCREMENT,
    ulica TEXT,
    numer TEXT,
    kod TEXT,
    miasto TEXT
);

CREATE TABLE IF NOT EXISTS klienci (
    klient_id INTEGER PRIMARY KEY AUTOINCREMENT,
    dane_osobowe TEXT,
    adres_id INTEGER,
    FOREIGN KEY (adres_id) REFERENCES adresy(adres_id)
);

CREATE TABLE IF NOT EXISTS zakupy (
    klient_id INTEGER,
    produkt TEXT,
    FOREIGN KEY (klient_id) REFERENCES klienci(klient_id)
);

""")

# ===================================================
# 2. Generowanie INSERT dla wszystkich danych
# ===================================================
adres_map = {}  # mapowanie pe≈Çnego adresu na adres_id
adres_id_counter = 1
klient_id_counter = 1

def rozdziel_adres(adres):
    try:
        czesci = adres.split(',')
        ulica_numer = czesci[0].strip().rsplit(' ', 1)
        ulica = ulica_numer[0]
        numer = ulica_numer[1] if len(ulica_numer) > 1 else ''
        kod_miasto = czesci[1].strip().split(' ', 1) if len(czesci) > 1 else ['', '']
        kod = kod_miasto[0]
        miasto = kod_miasto[1] if len(kod_miasto) > 1 else ''
        return ulica, numer, kod, miasto
    except:
        return '', '', '', ''

for index, row in df.iterrows():
    adres = row['adres']
    if adres not in adres_map:
        ulica, numer, kod, miasto = rozdziel_adres(adres)
        sql_file.write(f"INSERT INTO adresy (adres_id, ulica, numer, kod, miasto) VALUES ({adres_id_counter}, '{ulica.replace('\'','\'\'')}', '{numer}', '{kod}', '{miasto}');\n")
        adres_map[adres] = adres_id_counter
        adres_id_counter += 1

    # Dodanie klienta
    sql_file.write(f"INSERT INTO klienci (klient_id, dane_osobowe, adres_id) VALUES ({klient_id_counter}, '{row['dane_osobowe'].replace('\'','\'\'')}', {adres_map[adres]});\n")

    # Rozdzielenie produkt√≥w
    produkty = [p.strip() for p in str(row['produkty']).split(',')]
    for produkt in produkty:
        if produkt:
            sql_file.write(f"INSERT INTO zakupy (klient_id, produkt) VALUES ({klient_id_counter}, '{produkt.replace('\'','\'\'')}');\n")

    klient_id_counter += 1

sql_file.close()
print("Plik SQL 'klienci_3nf.sql' zosta≈Ç wygenerowany!")

Plik SQL 'klienci_3nf.sql' zosta≈Ç wygenerowany!

## Serwer baz danych

PostgreSQL to relacyjny system zarzƒÖdzania bazƒÖ danych (RDBMS ‚Äì Relational Database Management System), nale≈ºƒÖcy do najbardziej zaawansowanych i niezawodnych rozwiƒÖza≈Ñ typu open source.
Umo≈ºliwia on tworzenie, przechowywanie i przetwarzanie danych w spos√≥b zgodny z zasadami modelu relacyjnego, zapewniajƒÖc jednocze≈õnie obs≈Çugƒô transakcji, integralno≈õƒá danych, bezpiecze≈Ñstwo oraz wysokƒÖ wydajno≈õƒá.

Do pracy z PostgreSQL czƒôsto wykorzystuje siƒô narzƒôdzie pgAdmin ‚Äì graficzny interfejs u≈ºytkownika (GUI), kt√≥ry pozwala w wygodny spos√≥b zarzƒÖdzaƒá serwerem i bazami danych, wykonywaƒá zapytania SQL, projektowaƒá struktury tabel oraz analizowaƒá dane.
Dziƒôki pgAdmin u≈ºytkownik mo≈ºe ≈ÇƒÖczyƒá siƒô z serwerem PostgreSQL, przeglƒÖdaƒá obiekty bazy (schematy, tabele, widoki, funkcje), a tak≈ºe monitorowaƒá jej dzia≈Çanie.

PostgreSQL dzia≈Ça w architekturze klient‚Äìserwer. Oznacza to, ≈ºe serwer baz danych (program postgres) dzia≈Ça w tle i odpowiada za przechowywanie oraz zarzƒÖdzanie danymi, natomiast klienci (np. pgAdmin, aplikacje webowe, skrypty w Pythonie) ≈ÇƒÖczƒÖ siƒô z nim za pomocƒÖ sieciowego protoko≈Çu i wysy≈ÇajƒÖ polecenia SQL.
Serwer przetwarza te polecenia, wykonuje operacje na danych i zwraca wyniki do klienta.
Takie rozwiƒÖzanie pozwala wielu u≈ºytkownikom lub aplikacjom jednocze≈õnie korzystaƒá z tej samej bazy danych w spos√≥b bezpieczny i kontrolowany.

W trakcie laboratorium bƒôdziemy korzystaƒá z PostgreSQL i pgAdmin, aby poznaƒá zasady dzia≈Çania relacyjnych system√≥w baz danych ‚Äì od projektowania schemat√≥w danych, poprzez tworzenie tabel i relacji, a≈º po wykonywanie zapyta≈Ñ SQL i analizƒô wynik√≥w.